__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
.env
.DS_Store
Thumbs.db

data/raw/*
!data/raw/.gitkeep
data/metadata/*
!data/metadata/.gitkeep
data/cleaned/*
!data/cleaned/.gitkeep
data/splits/*
!data/splits/.gitkeep

models/*
!models/.gitkeep
reports/figures/*
!reports/figures/.gitkeep
reports/metrics/*
!reports/metrics/.gitkeep